<h1>Login</h1>

<%= link_to 'Login with Twitter', auth_at_provider_path(:provider => :twitter) %> |
<%= link_to 'Login with Facebook', auth_at_provider_path(:provider => :facebook) %>

<h1>Login with Email</h1>
<%= form_tag sessions_path, method: :post do %>
  <div>
    <%= label_tag :email %>
    <%= email_field_tag :email %>
  </div>

  <div>
    <%= label_tag :password %>
    <%= password_field_tag :password %>
  </div>

  <div>
    <%= label_tag :remember_me %>
    <%= check_box_tag :remember_me %>
  </div>

  <%= submit_tag 'Log In' %>
<% end %>

<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : 'your-app-id',
      xfbml      : true,
      version    : 'v2.6'
    });
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>
