<%= form_for @user do |f| %>
<div class ='form_set'>
   <%= f.label :first_name, :class=> 'form_label' %><span class="required">*</span>
   <%= f.text_field :first_name, :class=>'form_field' %>
</div>


<div class ='form_set'>
   <%= f.label :last_name,:class=> 'form_label' %><span class="required">*</span>
   <%= f.text_field :last_name, :class=>'form_field' %>
</div>

<div class ='form_set'>
   <%= f.label :username,:class=> 'form_label' %><span class="required">*</span>
   <%= f.text_field :username, :class=>'form_field' %>
</div>

<div class ='form_set'>
   <%= f.label :email,:class=> 'form_label' %><span class="required">*</span>
    <%= f.email_field :email, :class=>'form_field' %>
</div>

<div>
  <%= f.label :icon,:class=> 'form_label' %><span class="required">*</span>
  <%= f.file_field :icon, :class=>'form_field' %>
</div>


<div class ='form_set'>
   <%= f.label :details, "About Me",:class=> 'form_label' %>

   <%= f.text_area:details, size:'50x10', :class=>'text_area_field', :placeholder =>'Write a description about yourself! (min 250 words)' %>
</div>

<div class ='form_set'>
   <%= f.label :location,:class=> 'form_label' %>
   <%= f.text_field :location, :class=>'form_field' %>
</div>

<div class ='form_set'>
   <%= f.label :password,:class=> 'form_label' %><span class="required">*</span>
   <%= f.password_field :password, :class=>'form_field' %>
</div>

<div class ='form_set'>
   <%= f.label :password_confirmation,:class=> 'form_label' %><span class="required">*</span>
   <%= f.password_field :password_confirmation , :class=>'form_field'%>
</div>

<div class ='form_set'>
   <%= f.submit "Save", :class=>"btn_submit" %>
</div>
<% end %>
