<%= form_for @user do |f| %>
  <table>
    <thead></thead>
    <tbody>
      <tr>
        <td>
          <%= f.label :first_name, :class=> 'form_label' %><span class="required">*</span>
        </td>
        <td>
          <%= f.text_field :first_name, :class=>'form_field' %>
        </td>
      </tr>
      <tr>
        <td>
          <%= f.label :last_name,:class=> 'form_label' %><span class="required">*</span>
        </td>
        <td>
          <%= f.text_field :last_name, :class=>'form_field' %>
        </td>
      </tr>
      <tr>
        <td>
          <%= f.label :username,:class=> 'form_label' %><span class="required">*</span>
        </td>
        <td>
          <%= f.text_field :username, :class=>'form_field' %>
        </td>
      </tr>
      <tr>
        <td>
          <%= f.label :email,:class=> 'form_label' %><span class="required">*</span>
        </td>
        <td>
          <%= f.email_field :email, :class=>'form_field' %>
        </td>
      </tr>
      <tr>
        <td>
          <%= f.label :icon,:class=> 'form_label' %><span class="required">*</span>
        </td>
        <td>
          <%= f.file_field :icon, :class=>'form_field' %>
        </td>
      </tr>
      <tr>
        <td>
          <%= f.label :details, "About Me",:class=> 'form_label' %>
        </td>
        <td>
          <%= f.text_area:details, size:'50x10', :class=>'text_area_field', :placeholder =>'Write a description about yourself! (min 250 words)' %>
        </td>
      </tr>
      <tr>
        <td>
          <%= f.label :location,:class=> 'form_label' %>
        </td>
        <td>
          <%= f.text_field :location, :class=>'form_field', :id=>'autocomplete' %>
        </td>
      </tr>
      <tr>
        <td>
          <%= f.label :password,:class=> 'form_label' %><span class="required">*</span>
        </td>
        <td>
          <%= f.password_field :password, :class=>'form_field' %>
        </td>
      </tr>
      <tr>
        <td>
          <%= f.label :password_confirmation,:class=> 'form_label' %><span class="required">*</span>
        </td>
        <td>
          <%= f.password_field :password_confirmation , :class=>'form_field'%>
        </td>
      </tr>
      <tr>
        <td>
          <%= f.submit "Sign Up", :class=>"btn_submit" %>
        </td>
        <td></td>
      </tr>
    </tbody>
  </table>
<% end %>
