
<div class="form loginform">
<%= form_for @user do |f| %>
<div>
   <%= f.label :first_name %>
   <%= f.text_field :first_name %> <span class="required">* required</span>
</div>
<div>
   <%= f.label :last_name %>
   <%= f.text_field :last_name %> <span class="required">* required</span>
</div>
<div>
   <%= f.label :username %>
   <%= f.text_field :username %> <span class="required">* required</span>
</div>
<div>
   <%= f.label :email %>
   <%= f.email_field :email %> <span class="required">* required</span>
</div>
<!-- <div>The div for uploading an avatar goes here </div> -->
<div>
   <%= f.label :details, "About Me" %>
   <%= f.text_area(:details, size:'20x5' ) %>
</div>
<div>
   <%= f.label :location %>
   <%= f.text_field(:location) %>
</div>
<div>
   <%= f.label :password %>
   <%= f.text_field :password %> <span class="required">* required</span>
</div>
<div>
   <%= f.label :password_confirmation %>
   <%= f.text_field :password_confirmation %> <span class="required">* required</span>
</div>
<div>
   <%= f.submit "Save" %>
</div>
<% end %>
</div>
