<div>

  <h1>Hello <%= "#{@user.first_name}" %>!</h1>

  <div>
    <%= @user.first_name %> <%= @user.last_name %>
    <img src ="<%= @user.icon %>">
  </div>

  <% if current_user == @user %>
    <%= link_to "Edit Profile", edit_user_url %>
    <%= link_to "Walks You've Created", root_url %>
    <%= link_to "Your Favourite Walks", root_url %>
  <% end %>

</div>
