<div>

  <h1>Hello <%= "#{@user.first_name}" %>!</h1>

  <div>
    <%= @user.first_name %> <%= @user.last_name %>
    <img src ="<%= @user.icon %>">
  </div>

  <% if current_user == @user %>
    <%= link_to "Edit Profile", edit_user_url %>
    <%= link_to "Walks You've Created", user_walks_url(current_user) %>
    <%= link_to "Your Favourite Walks", root_url %>
  <% end %>

  <% if current_user.has_linked_twitter? %>
    <%= link_to 'Unlink your Twitter account', delete_oauth_path('twitter'), method: :delete %>
  <% else %>
    <%= link_to 'Link your Twitter account', auth_at_provider_path(:provider => :twitter) %>
  <% end %>

</div>
