<div>

  <h1>Hello <%= "#{@user.first_name}" %>!</h1>

  <div>
    <%= @user.first_name %> <%= @user.last_name %>
    <img src ="<%= @user.icon %>">
  </div>

  <% if current_user == @user %>
    <%= link_to "Edit Profile", edit_user_url %>
    <%= link_to "Walks You've Created", user_walks_url(current_user) %>
    <%= link_to "Your Favourite Walks", root_url %>
  <% end %>

  <h1> Favourite Walks </h1>
  <ul>
    <%if @fav_walks.any? %>
      <% @fav_walks.each do |fav_walk| %>
        <li>
          <%= link_to walk_path(fav_walk.walk) do %>
            <p><%= fav_walk.walk.name%></p>
            <p><%= fav_walk.walk.city %> </p>
            <p ><%= fav_walk.walk.description%></p>
            <p> <%= fav_walk.walk.category.theme%> </p>
          <%end%>
        </li>
      <% end %>
    <% else %>
      <%= link_to walks_path do %>
        <p>Maybe we should go check out some walks! </p>
      <% end %>
    <% end %>
  </ul>


</div>
