<div class="homepage">
<div class="home-overlay">

<div class="nav-menu">
  <div class="logo">
    <%= link_to "W", root_path %>
  </div>


        <ul>
    <% if @gobbledegook == nil %>
      <% if current_user %>

        <%= link_to "Create a walk", new_walk_path, :class=>'walk_link' %>
        <%= link_to "Hi, #{current_user.first_name}!" ,edit_user_path(current_user.id) %>
        <%= link_to "Logout", :logout, method: :post %>
      </ul>
      <% else %>
        <%= link_to "Create a walk", new_walk_path %>
        <%= link_to "Register", new_user_path %>
        <%= link_to "Login", :login, :class=> 'login_link'%>

      <% end %>
    <% end %>
  </div><!-- end of nav-menu-->

  <div class="homepage-big-letter">W</div>

  <div class="desc_container">
    <h1 class="title">Walk <br/> This Way</h1>
    <p class="desc">Explore and discover new <br/> routes near your neighbourhood.</p>

    <div class="search-bar">
      <%= form_tag walks_path, method: :get do %>
      <%= text_field_tag :search, params[:search], id: "autocomplete", data:params[:search], :placeholder => "Where do you like to walk to? (Ex. Toronto, ON)", :class =>"search-bar-field"%>
      <%= submit_tag "Search", class: 'search-button'%>
      <% end %>
    </div>

    <div class="contain-shoeprint">
      <%= image_tag(('shoeprint.png'),:class =>'print') %>
     </div>

</div>


</div><!-- end of homepage-->

</div><!-- end of overlay-->
