<div id = 'comment-list-and-form'>
  <p id = 'comment-title'> Comments </p>
  <div id = 'comment-list-textbox'>
    <ul class="comments">
      <% if @walk.comments.any? %>
        <% @walk.comments.each do |comment| %>
          <% if comment.id != nil %>
            <li class="comment-list">
              <p class = 'comment-text'><%= comment.comment %>
                <p class='comment-author-date'>
                  - <%= comment.user.username %> <time><%= comment.created_at.strftime('%b %e, %l:%M %p') %></time>
                </p>
              </p>
              <% if comment.user = current_user %>
                <%= link_to 'Delete', [@walk, comment], method: :delete, data: {confirm: "Confirm delete?"}, class:"delete-comment" %>
              <% end %>
            </li>
          <% end %> <!-- if comment.id != nil -->
        <% end %><!-- comment.each loop -->
      <% end %><!-- if comments.any -->
    </ul>

    <% if current_user %>
    <p> Leave a comment! </p>
      <%= form_for [@walk, @comment], :html => {id: "new-comment", class: "new_comment", data: {walkid: @walk.id.to_s}} do |f| %>
        <%= f.text_area :comment, placeholder: "This walk was just fab.", data: {walkid: @walk.id.to_s} %>
        <%= f.submit "post", id: "post-comment" %>
      <% end %>
    <% end %>
  </div>
</div>
