

<%= form_for @walk do |f| %>

<table>
  <thead></thead>
  <tbody>
    <tr>
      <td>
        <%= f.label :city,:class=> 'form_label form_label_create_walk'  %><span class="required">*</span>
      </td>
      <td>
        <%= f.text_field :city, id: "autocomplete", :class=>'form_field form_field_create_walk'%>
        <button type="button" id="centerbutton">Center Map</button>
      </td>
      <td></td>
    </tr>
    <tr>
      <td>
        <%= f.label :category, :class=> 'form_label form_label_create_walk' %><span class="required">*</span>
      </td>
      <td>
        <%= f.collection_select(:category_id, Category.all, :id, :theme) %>
      </td>
      <td></td>
    </tr>
    <tr>
      <td>
        <%= f.label :name,:class=> 'form_label form_label_create_walk'  %><span class="required">*</span>
      </td>
      <td>
        <%= f.text_field :name, :class=>'form_field form_field_create_walk' %>
      <td></td>
    </tr>
    <tr>
      <td>
        <%= f.label :description,:class=> 'form_label form_label_create_walk'  %><span class="required">*</span>
      </td>
      <td>
        <%= f.text_area :description, :class=>'form_field form_field_create_walk' %>
      </td>
      <td></td>
    </tr>
    <tr>
      <td>
        <%= f.label :picture,:class=> 'form_label form_label_create_walk'  %><span class="required">*</span>
      </td>
      <td>
        <%= f.file_field :picture, :class=>'form_field form_field_create_walk' %>
      </td>
      <td></td>
    </tr>
    <tr>
      <td>
        <h1 class="waypoint_title">Waypoints</h1>
      </td>
    </tr>
    <tr>
      <td>
        <h3>You must add at least 2 waypoints to create a map!</h3>
      </td>
    </tr>
    <%= f.fields_for :waypoints do |waypoint| %>
      <tr class="fields">
        <td>
          <%= render 'waypoint_fields', :f => waypoint %>
        </td>
    <% end %>
        <td>
          <%= link_to_add_association 'Add new waypoint', f, :waypoints%>
        </td>
      <tr>
      <td>
        <button type = 'button' class = 'plot_walk'> Plot this walk! </button>
      </td>
      <td>
        <%= f.submit :class=>'walk_submit'%>
      </td>
      <td></td>
    </tr>
  </tbody>
</table>
<% end %><!-- end of form for -->
