<%= form_for @walk do |f| %>

<div class="errors">
  <% if @walk.errors.any? %>
    <div id="error_explanation">
      <ul>
        <%@walk.errors.each do |key, value| %>
        <%# binding.pry%>
          <%if key == [:walk]%>
              <%=value = ""%>
           <%end%>
          <li><%= value %></li>
        <% end %>
      </ul>
  <% end %>

    <% if (@waypoint != nil) && (@waypoint.errors.any?) %>
      <ul>
        <% @waypoint.errors.each do |key, value| %>
          <li><%= key %><%= value %></li>
        <% end %>
      </ul>
    <% end %>
  </div><!-- end of error_explanation-->

<div class="create_form_step_one">
<h3 class="create_step_one_title">Step 1 - Describe Walk</h3>
<div class ='form_set'>


  <%= f.label :city,:class=> 'form_label form_label_create_walk'  %><span class="required">* </span>
  <%= f.text_field :city, :id=>'autocomplete_centermap', :class=>'form_field form_field_create_walk autocomplete_city'%>

  <button type="button" id="centerbutton">Center Map on City</button>
</div>

<div class ='form_set'>
  <%= f.label :category, :class=> 'form_label form_label_create_walk' %><span class="required">*  </span>
  <%= f.collection_select(:category_id, Category.all, :id, :theme) %>
</div>

<div class ='form_set'>
  <%= f.label :name,:class=> 'form_label form_label_create_walk'  %><span class="required">* </span>
  <%= f.text_field :name, :class=>'form_field form_field_create_walk' %>
</div>

<div class ='form_set'>
  <%= f.label :description,:class=> 'form_label form_label_create_walk'  %><span class="required">* </span>
  <div><%= f.text_area :description, :class=>'form_field desc_field_create_walk' %></div>
</div>

<div class ='form_set'>
  <%= f.label :picture,:class=> 'form_label form_label_create_walk'  %>
  <%= f.file_field :picture, :class=>'form_field form_field_create_walk' %>
</div>

<button type="submit" class="next_btn next_first_btn">Next </button>
</div><!-- end of create_form_step_one-->

<div class="create_form_step_two">
  <h3 class="create_step_two_title">Step 2 - Waypoints (Stops)</h3>

  <p class="waypoint_desc">You may create up to 8 Waypoints(stops) for your walk. You can drag the waypoints to your desired order. </p>

<div id="sortable">
<div id="mkpts">
  <%= f.fields_for :waypoints do |waypoint| %>
  <%= render 'waypoint_fields', :f => waypoint%>
  <% end %>
  <span>Add New Waypoint</span><%= link_to_add_association '+', f, :waypoints, :class=> 'plus'%>
</div>

<button type="submit" class="next_btn next_second_btn">Next </button>

</div>
</div><!-- end of create_form_step_two-->

<div class="create_form_step_three">
  <h3 class="create_step_two_title">Step 3 - Plot Walk</h3>
  <p>You can view what your walk will look like on a map. If you are satisfied with the walk, click the 'create walk' button below.  </p>


  <button type = 'button' class = 'plot_walk'> plot this walk! </button>
  <%= f.submit :class=>'walk_submit' %>

</div><!-- end of create_form_step_three-->

<% end %><!-- end for form for -->
