<div class="nested-fields">
  <fileset>
    <ul>
      <li class ='form_set nested-list form_set_waypoint_address'>
      <%= f.label :address,:class=> 'form_label_create_walk waypoint_label'  %>
      <%= f.text_field :address,:class=>"address form_field_create_walk_address"%></li>

      <li class ='form_set nested-list'><%= f.label :description, :class=> 'form_label_create_walk' %>
      <%= f.text_area :description,:class=>"description"%></li>

      <li><%= f.hidden_field :order, :class=>"order" %></li>

  <i class="fa fa-mouse-pointer" aria-hidden="true"></i>

      <li><button class ="plot_btn" type="button">Plot me</button></li>

  <%= link_to_remove_association "Remove Waypoint", f, :class=>"cancel_waypoint" %>
  <li><button class ="plot_btn" type="button">Plot on Map</button></li>
</ul>

</fileset>
</div>
