<div class="nested-fields">
  <fileset>
    <ul>
      <li class ='form_set nested-list'><%= f.label :address,:class=> 'form_label_create_walk'  %>
      <%= f.text_field :address,:class=>"address"%></li>

      <li class ='form_set nested-list'><%= f.label :description, :class=> 'form_label_create_walk' %>
      <%= f.text_area :description,:class=>"description"%></li>

      <li><%= f.hidden_field :order, :class=>"order" %></li>

      <br>
      <li><%= link_to_remove_association "Cancel", f, :id=>'categories'%></li>
      <br>

      <li><button class ="plot_btn" type="button">Plot me</button></li>
    </ul>
  </fileset>
</div>
