<div class="nested-fields">
  <fieldset>
      <div class ='form_set'>
        <%= f.label :address,:class=> 'form_label_create_walk waypoint_label'  %>
        <%= f.text_field :address,:class=>"address form_field_create_walk_address"%>
      </div>

      <div class ='form_set'>
        <%= f.label :description, :class=> 'form_label_create_walk waypoint_label' %>
        <%= f.text_area :description,:class=>"description"%>
      </div>

      <li><%= f.hidden_field :order, :class=>"order" %></li>

      <i class="fa fa-hand-grab-o" aria-hidden="true"></i>

      <%= link_to_remove_association "Remove Waypoint", f, :class=>"cancel_waypoint" %>
        <button class ="plot_btn" type="button">Plot on Map</button>

  </fieldset>
</div>
