<div class="nested-fields">

  <button type='button' id='up_reorder'> UP </button>
  <button type='button' id='down_reorder'> DOWN </button>

  <div class ='form_set'>
    <%= f.label :address,:class=> 'form_label_create_walk'  %>
    <%= f.text_field :address,:class=>"address" %>
  </div>

  <div>
    <%= f.label :description, :class=> 'form_label_create_walk'  %>
    <%= f.text_area :description,:class=>"description"%>
  </div>

  <div>
    <%= f.hidden_field :order, :class=>"order" %>
  </div>

  <div>  <%= link_to_remove_association "cancel", f %></div>

  <div class ="plot_btn">Plot me</div>
</div>
