<div class="nested-fields">

  <div>
    <%= f.label :description, :class=> 'form_label_create_walk'  %>
    <%= f.text_area :description,:class=>"description"%>
  </div>

  <div>
    <%= f.label :address,:class=> 'form_label_create_walk'  %>
    <%= f.text_field :address,:class=>"address" %>
  </div>

  <div>
    <%= f.label :order,:class=> 'form_label_create_walk'   %>
    <%= f.number_field :order,:class=>"point order" %>
  </div>

    <%= link_to_remove_association "cancel", f %>

  <!-- <button class="waypoint-btn" type="button">Plot me!</button> -->


  <p id ="plot">Plot me</p>
</div>
