<div class="nested-fields">

  <div>
    <table>
    <tr>
  <td>  <%= f.label :description %> </td>
  <td>  <%= f.text_area :description, {class: 'description'}%> </td>
</tr>
  </div>

  <div>
    <tr>
  <td>  <%= f.label :address %> </td>
  <td>  <%= f.text_field :address, {class: 'address'}%> </td>
  </tr>
</table>
  </div>

    <button type = 'button'><%= link_to_remove_association "cancel", f %> </button>
    <button type = button class='renderformwaypoint'> Show point on map! </button>
</div>
