<div class="index_container">
  <div class="page-wrapper">
    <h1 class="index_title">Walks around <%= @searchedcity %></h1>

  <div class="search-geolocate">
    <div>
      <%= form_tag(walks_path, method: "get", id:'search_by_category') do %>
        <%= label_tag(:search_by_category, "Category:") %>
      <%= select_tag(:search_by_category, options_from_collection_for_select(Category.all, "id", "theme"), :selected => params[:search_by_category], :class=>'category_dropdown') %>
      <%= hidden_field_tag :search_by_location, params[:search_by_location] %>
      <%= submit_tag "Search by Category", :class=>"category_btn" %>
      <% end %>
    </div>

    <!-- <button type="button" id='geolocate_me'>Find walks near me! </button> -->

    <div class = "geolocate-btn">
      <%= form_tag(walks_path, method: "get", :id => 'geolocate_form') do%>
      <%= hidden_field_tag :geolocate_lat, params[:lat], :id=> 'hidden_geolocate_tag_lat'%>
      <%= hidden_field_tag :geolocate_lon, params[:lon], :id=> 'hidden_geolocate_tag_lon'%>
      <%= submit_tag "Find walks near me!", :class => "category_btn", :id => 'geolocate_me' %>
      <% end %>
    </div>

  </div>

  <div id="map_walk-index" data-latitude="<%= @centerpoint[0] %>" data-longitude="<%= @centerpoint[1] %>" data-startpoints = "<%= @startpoints %>" >
  </div>


  <div class='tweets'>
    <div class='index-buttons'>
      <a href="https://twitter.com/intent/tweet?button_hashtag=walkthiswaypath" class="twitter-hashtag-button" data-size="default" data-related="walkthiswaynow">Tweet #walkthiswaypath</a>
    </div>
    <a class="twitter-timeline"
      data-dnt="true"
      data-widget-id="739155615986163713"
      width="98%"
      border-color="#f3007a"
      data-chrome="nofooter noheader"
      data-tweet-limit = "5"
      data-aria-polite="assertive">
    </a>
    <script>window.twttr = (function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0],
        t = window.twttr || {};
      if (d.getElementById(id)) return t;
      js = d.createElement(s);
      js.id = id;
      js.src = "https://platform.twitter.com/widgets.js";
      fjs.parentNode.insertBefore(js, fjs);
      t._e = [];
      t.ready = function(f) {
        t._e.push(f);
      };
      return t;
    }(document, "script", "twitter-wjs"));</script>
  </div><!-- end of twitter -->

<button class="create_walk_btn" type="submit"><%= link_to "Create a walk", new_walk_path %></button>
</div><!-- end of page-wrapper-->



<div class="walks_container">
  <div class="page-wrapper">
    <div class="walks-list">
      <% @walks.each do |walk| %>
        <div class="walkcard" style="background-image: url('<%= walk.picture%>');">
          <%= link_to walk_path(walk) do %>
        <p class="walkcard_name"><%= walk.name%></p>
        <p class="walkcard_desc"><%= walk.description%></p>
      </div>
  <% end %>
  <% end %>
</div>

  </div><!-- end of walks-page-wrapper -->
  </div> <!-- end of walks container-->
</div>
