<h1>Walks in <%=@searchedcity%> </h1>


<%= link_to "Create a walk", new_walk_path %>

<div id="map_walk-index" data-latitude="<%= @centerpoint[0] %>" data-longitude="<%= @centerpoint[1] %>" data-startpoints = "<%= @startpoints %>" ></div>


<div class="walks-list">

    <% @walks.each do |walk| %>
    <div>
     <img src = '<%=walk.picture%>' >
    <h3> <%= link_to walk.name, walk_path(walk) %> </h3>
    <h3>  <%= walk.description%> </h3>
    </div>
    <% end %>

</div>
