<div class="index_container">
  <div class=" page-wrapper">
    <h1 class="index_title">Walks around <%= @searchedcity %></h1>


    <div>
      <%= form_tag(walks_path, method: "get", id:'search_by_category') do %>
      <%= label_tag(:search_by_category, "Category:") %>
      <%=select_tag(:search_by_category, options_from_collection_for_select(Category.all, "id", "theme"), :selected => params[:search_by_category], :class=>'category_dropdown') %>
      <%= hidden_field_tag :search_by_location, params[:search_by_location] %>
      <%= submit_tag "search by Category", :class=>"category_btn" %>
      <% end %>
    </div>

    <button type="button" id='geolocate_me'>Find walks near me! </button>


<div id="map_walk-index" data-latitude="<%= @centerpoint[0] %>" data-longitude="<%= @centerpoint[1] %>" data-startpoints = "<%= @startpoints %>" >
</div>

<button class="create_walk_btn" type="submit"><%= link_to "Create a walk", new_walk_path %></button>
</div><!-- end of page-wrapper-->

<!-- <section class="walks-geolocate">
  <%= render @walks %>
</section> -->

<div class="walks_container">
  <div class="page-wrapper">
    <div class="walks-list">
      <% @walks.each do |walk| %>

        <div class="walkcard" style="background-image: url('<%= walk.picture%>');">

          <%= link_to walk_path(walk) do %>
        <p class="walkcard_name"><%= walk.name%></p>

        <p class="walkcard_desc"><%= walk.description%></p>
      </div>
  <%end%>
  <% end %>
</div>

  </div><!-- end of page-wrapper -->
  </div> <!-- end of walks container-->
