<h1>Create a new walk!</h1>

<div id="map_walk"></div>
<div style='width: 800px;'>
</div>

<div>
<%= button_to "Center" %>
<!-- add form field here for auto complete, to center city -->
</div>


<div class="form-list">
<%= form_for @walk do |f| %>

<div class="errors">
  <% if @walk.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@walk.errors.count, "error") %> prohibited this walk from being saved:</h2>
    <ul>
      <% @walk.errors.each do |key, value| %>
      <li><%= value %></li>
      <% end %>
    </ul>
    <% end %>

    <% if (@waypoint != nil) && (@waypoint.errors.any?) %>
    <h2><%= pluralize(@waypoint.errors.count, "error") %> prohibited this waypoint from being saved:</h2>
    <ul>
      <% @waypoint.errors.each do |key, value| %>
      <li><%= key %><%= value %></li>
      <% end %>
    </ul>
    <% end %>

  </div>

  <div>
    <%= f.label :city %>
    <%= f.text_field :city %>
  </div>
  <!-- button to center map -->
  <div>
    <%= f.label :category %>
    <%= f.collection_select(:category_id, Category.all, :id, :theme) %>
  </div>
  <div>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div>
    <%= f.label :description %>
    <%= f.text_area :description %>
  </div>
  <div>
    <%= f.label :picture %>
    <%= f.text_field :picture %>

  </div>
  <div>
    <p>Waypoints</p>
  </div>
  <div>
    <%= f.fields_for :waypoints do |waypoint| %>
      <%= render 'waypoint_fields', :f => waypoint %>
    <% end %>
    <%= link_to_add_association 'Add new waypoint', f, :waypoints %>
  </div>

  <div>
    <%= f.submit %>
  </div>

<% end %>
</div>
