<h1>Create a new walk!</h1>

<div id="map_walk"></div>
<div style='width: 800px;'>
</div>

<%= form_for @walk do |f| %>

  <div>
    <%= f.label :category %>
    <%= f.collection_select(:category_id, Category.all, :id, :theme) %>
  </div>
  <div>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div>
    <%= f.label :description %>
    <%= f.text_area :description %>
  </div>
  <div>
    <%= f.label :picture %>
    <%= f.text_field :picture %>

  </div>
  <div>
    <p>Waypoints</p>
  </div>
  <div>
    <%= f.fields_for :waypoints do |waypoint| %>
      <%= render 'waypoint_fields', :f => waypoint %>
    <% end %>
    <%= link_to_add_association 'Add new waypoint', f, :waypoints %>
  </div>

  <div>
    <%= f.submit %>
  </div>

<% end %>
