<div class="nav-menu-not-homepage">
  <div class="logo">
    <%= link_to "W", root_path %>
  </div>

      <ul>
  <% if @gobbledegook == nil %>
    <% if current_user %>

      <%= link_to "Create a walk", new_walk_path, :class=>'walk_link' %>
      <%= link_to "Hi, #{current_user.first_name}!" ,edit_user_path(current_user.id) %>
      <%= link_to "Logout", :logout, method: :post %>
    </ul>
    <% else %>
      <%= link_to "Create a walk", new_walk_path %>
      <%= link_to "Register", new_user_path %>
      <%= link_to "Login", :login, :class=> 'login_link'%>

    <% end %>
  <% end %>
</div><!-- end of nav-menu-->


<div class="page-wrapper">

<div class="create_walk_contain_left">
  <h1 class="create_walk_title">
    <span class="create_walk_title_split">Have an awesome path</span>
    <span class="create_walk_title_split">you want to share?<span>
    <span class="create_walk_title_split">Create a route!</span>
  </h1>
</div>

<div class="create_walk_contain_right">
<div id="map_walk-new" class="map" data-latitude='0' data-longitude="0" ></div>
</div>


<div class="form-list">
  <%= form_for @walk do |f| %>

  <div class="errors">
    <% if @walk.errors.any? %>
    <div id="error_explanation">

      <ul>
        <% @walk.errors.each do |key, value| %>
        <li><%= value %></li>
        <% end %>
      </ul>
      <% end %>

      <% if (@waypoint != nil) && (@waypoint.errors.any?) %>
      <ul>
        <% @waypoint.errors.each do |key, value| %>
        <li><%= key %><%= value %></li>
        <% end %>
      </ul>
      <% end %>

  </div>

  <div class ='form_set'>
    <%= f.label :city,:class=> 'form_label form_label_create_walk'  %>
    <%= f.text_field :city, id: "autocomplete", :class=>'form_field form_field_create_walk'%><span class="required">*  </span>
    <button type="button" id="centerbutton">Center Map</button>
  </div>

  <div class ='form_set'>
    <%= f.label :category, :class=> 'form_label form_label_create_walk' %>
    <%= f.collection_select(:category_id, Category.all, :id, :theme) %><span class="required">*  </span>
  </div>

  <div class ='form_set'>
    <%= f.label :name,:class=> 'form_label form_label_create_walk'  %>
    <%= f.text_field :name, :class=>'form_field form_field_create_walk' %><span class="required">* </span>
  </div>

  <div class ='form_set'>
    <%= f.label :description,:class=> 'form_label form_label_create_walk'  %>
    <%= f.text_area :description, :class=>'form_field form_field_create_walk' %><span class="required">* </span>
  </div>

  <div class ='form_set'>
    <%= f.label :picture,:class=> 'form_label form_label_create_walk'  %>
    <%= f.text_field :picture, :class=>'form_field form_field_create_walk' %><span class="required">*  </span>
  </div>

  <div class="waypoint_title">Waypoints</div>

  <div id="mkpts">

      <%= f.fields_for :waypoints do |waypoint| %>
      <%= render 'waypoint_fields', :f => waypoint %>
      <% end %>
      <%= link_to_add_association 'Add new waypoint', f, :waypoints%>
  
  </div>

  <div>
    <%= f.submit %>
  </div>

<% end %>
</div>
</div> <!-- end of page wrapper-->
