<h1>Create a new walk!</h1>

<div id="map_walk-new" class="map" data-latitude='0' data-longitude="0" ></div>

<div class="form-list">
  <%= form_for @walk do |f| %>

  <div class="errors">
    <% if @walk.errors.any? %>
    <div id="error_explanation">

      <ul>
        <% @walk.errors.each do |key, value| %>
        <li><%= value %></li>
        <% end %>
      </ul>
      <% end %>

      <% if (@waypoint != nil) && (@waypoint.errors.any?) %>
      <ul>
        <% @waypoint.errors.each do |key, value| %>
        <li><%= key %><%= value %></li>
        <% end %>
      </ul>
      <% end %>

  </div>

  <div>
    <%= f.label :city %>
    <%= f.text_field :city, id: "autocomplete"%><span class="required">* required </span>
  </div>
  <div>
  <button type="button" id="centerbutton">Center</button>
  </div>
  <div>
    <%= f.label :category %>
    <%= f.collection_select(:category_id, Category.all, :id, :theme) %><span class="required">* required </span>
  </div>
  <div>
    <%= f.label :name %>
    <%= f.text_field :name %><span class="required">* required </span>
  </div>
  <div>
    <%= f.label :description %>
    <%= f.text_area :description %><span class="required">* required </span>
  </div>
  <div>
    <%= f.label :picture %>
    <%= f.text_field :picture %><span class="required">* required </span>
  </div>

  <div><p>Waypoints</p></div>

  <div id="mkpts">
    <div>
      <%= f.fields_for :waypoints do |waypoint| %>
      <%= render 'waypoint_fields', :f => waypoint %>
      <% end %>
      <%= link_to_add_association 'Add new waypoint', f, :waypoints%>
    </div>
  </div>

  <div>
    <%= f.submit %>
  </div>

<% end %>
</div>
