<h1>Walks#show</h1>

<div id="map_walk-show" class="map" data-latitude="<%= @centershow[0] %>" data-longitude="<%= @centershow[1] %>"></div>

<div>
  <%= @walk.name %>

  <% @walk.waypoints.each do |waypoint| %>
    <%= waypoint.description %>
    <%= waypoint.address %>
    <%= waypoint.latitude %>
    <%= waypoint.longitude %>
  <% end %>
</div>
