<style>
  .walk_show_hero {
    background-image: url('<%=@walk.picture%>');
  }
</style>

<div class="walk_show_hero">
    <div class="walk_show_name">
      <%= @walk.name %>
    </div>
    <div class="walk_show_city">
      <%= @walk.city %>
    </div>
</div>

<main class="walk_show_main">
  <div class= "walk_show_left">
    <h2 class="walk_show_about">About This Walk</h2>
    <p class="walk_show_description"><%=@walk.description%></p>

    <h2 class="walk_show_route">Walk Route</h2>

    <div class="waypoints_form">
        <% i = 1 %>
      <% @walk.waypoints.each do |waypoint| %>
        <span class="waypoint_stop"><%= "Stop #{i}: "%></span> <%= waypoint.address %>
          <!-- <%#= waypoint.description %> -->
        <% i+= 1%> <br>
      <% end %>

      <div id='directions-panel'>Directions</div>
    </div>
  </div><!-- end of walk_show_left-->

  <div class="walk_show_right">
    <div id="map_walk-show" class="map" data-latitude="<%= @centershow[0] %>" data-longitude="<%= @centershow[1] %>"></div>
  </div>

</main>
