<!DOCTYPE html>
<html>
<head>
  <title>Walkthisway</title>
  <!-- <script src="https://maps.googleapis.com/maps/api/js?key=<%=ENV['google_maps_api_key']%>&libraries=drawing,geometry,places"></script> -->
  <!-- <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %> -->
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
 <body>

  <% if flash[:notice] %>
    <p id="notice"><%= flash[:notice] %></p>
  <% end %>

  <% if flash[:alert] %>
    <p id="alert"><%= flash[:alert] %></p>
  <% end %>

  <div class="social-media">
      <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
      <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
      <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
  </div>
<%= yield %>


  <!-- <footer id="footer">
     copyright Walkthisway, 2016.
  </footer> -->


  <script src="https://maps.googleapis.com/maps/api/js?key=<%=ENV['google_maps_api_key']%>&libraries=drawing,geometry,places, visualization"></script>

  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
</body>
</html>
