<!DOCTYPE html>
<html>
<head>
  <title>Walkthisway</title>

  <script src="https://maps.googleapis.com/maps/api/js?key=<%=ENV['google_maps_api_key']%>&libraries=drawing,geometry,places"></script>
 <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

</head>
<body>

 <% if flash[:notice] %>
   <p id="notice"><%= flash[:notice] %></p>
 <% end %>


 <% if flash[:alert] %>
   <p id="alert"><%= flash[:alert] %></p>
 <% end %>

 <div class="social-media">
     <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
     <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
     <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
 </div>

<div class="homepage">
<div class="home-overlay">

<%= render 'nav_menu_home' %>

  <div class="homepage-big-letter">W</div>

  <div class="desc_container">
    <h1 class="title">Walk <br/> This Way</h1>
    <p class="desc">Explore and discover new <br/> routes near your neighbourhood.</p>

    <div class="search-bar">
      <%= form_tag walks_path, method: :get do %>
      <%= text_field_tag :search_by_location, params[:search_by_location], id: "autocomplete", data:params[:search_by_location], :placeholder => "Which city would you like to explore? (E.g. Toronto, ON)", :class =>"search-bar-field"%>
      <%= submit_tag "Search", class: 'search-button'%>
      <% end %>
    </div>

    <!-- <div class='geolocate_me'>
      Find Walks near me!
    </div> -->
    <div class="contain-shoeprint">
      <%= image_tag(('shoeprint.png'),:class =>'print') %>
     </div>

</div>


</div><!-- end of homepage-->

</div><!-- end of overlay-->
</body>
</html>
