<!DOCTYPE html>
<html>
<head>
  <title>Walkthisway</title>
  <script src="https://maps.googleapis.com/maps/api/js?key=<%=ENV['google_maps_api_key']%>&libraries=drawing,geometry,places"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
  <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class="home-body">

  <% if flash[:notice] %>
    <p id="notice"><%= flash[:notice] %></p>
  <% end %>

  <% if flash[:alert] %>
    <p id="alert"><%= flash[:alert] %></p>
  <% end %>

  <div class="social-media">
    <a href="https://www.facebook.com/walkthiswayvtcm/"><i class="fa fa-facebook" aria-hidden="true"></i></a>
    <a href="https://twitter.com/walkthiswaynow"><i class="fa fa-twitter" aria-hidden="true"></i></a>
    <a href="https://www.instagram.com/walkthiswayvtcm/"><i class="fa fa-instagram" aria-hidden="true"></i></a>
  </div>

  <div class="signin-modal">
    <div class="page-wrapper-modal">

      <div class="signup_container-modal">
        <h1 class="login_desc"> Hello again! <br> Please sign in. </h1>

        <div class="loginform_signup_form-modal">
          <%= render 'form' %>
        </div>

        <!-- <div id="close-button">CLOSE ME</div> -->
      <!-- <%= link_to "Home", root_url %> -->
      </div>
    <!-- <%= link_to 'Back', root_path %> -->
    </div>
  </div>

  <div class="register-modal">
    <div class="page-wrapper">

        <div class="social-media social-login">
            <a href="https://www.facebook.com/walkthiswayvtcm/"><i class="fa fa-facebook" aria-hidden="true"></i></a>
            <a href="https://twitter.com/walkthiswaynow"><i class="fa fa-twitter" aria-hidden="true"></i></a>
            <a href="https://www.instagram.com/walkthiswayvtcm/"><i class="fa fa-instagram" aria-hidden="true"></i></a>
        </div>

        <div class="signup_container-modal">
            <h1 class="login_desc"> Walking is good for you... <br>Sign Up...Get Walking!</h1>

            <div class="form loginform_signup_form-modal">
                <%= render partial: 'registerform' %>
            </div>

        </div>
    </div>
  </div>

<div class="homepage">
  <div class="home-overlay">
    <%= render 'nav_menu_home' %>
  <div class="homepage-big-letter">W</div>

  <div class="desc_container">
    <h1 class="title">Walk <br/> This Way</h1>
    <p class="desc">Explore and discover new <br/> routes near your neighbourhood.</p>

    <div class="search-bar">
      <%= form_tag walks_path, method: :get do %>
        <%= text_field_tag :search_by_location, params[:search_by_location], data:params[:search_by_location], :placeholder => "Which city would you like to explore? (E.g. Toronto, ON)", :class =>"search-bar-field autocomplete_city"%>
        <%= submit_tag "Search", class: 'search-button'%>
      <% end %>
    </div>

    <!-- <div class='geolocate_me'>
      Find Walks near me!
    </div> -->
    <div class="contain-shoeprint">
      <%= image_tag(('shoeprint.png'),:class =>'print') %>
    </div>
  </div>
  </div><!-- end of overlay-->
</div><!-- end of homepage-->
</body>
</html>
